<!-- navigation bar appears if logged in -->
<mat-toolbar *ngIf="isLoggedIn">
  <h3>Household Portal</h3>
  <span class="fill-remaining-space"></span>
  <div *ngIf="noModalUrls.includes(router.url)==false">
    <button *ngIf="!isCurrentRoute('/dashboard')" mat-button routerLink="/dashboard">Dashboard</button>
    <button *ngIf="!isCurrentRoute('/profile')" mat-button routerLink="/profile">Account</button>
    <button *ngIf="!isCurrentRoute('/admin') && isAdmin" mat-button routerLink="/admin">Manage</button>
    <button mat-button (click)="openModal('logout-modal')">Sign Out</button>
  </div>
</mat-toolbar>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': isLoggedIn }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<jw-modal id="logout-modal">
    <logout></logout>
</jw-modal>